{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/style.css'%}">
        <title>Registration Form</title>
    </head>
        
    <body>
        <h1>{{ message }}</h1>
        <h1> Registration <h1>
        <form action="/register/" method="POST">
            <input type = "text" name = "name" placeholder = "Name" autocomplete="off">
            <input type = "text" name = "contact" placeholder = "Contact" maxlength="10" autocomplete="off">
            <input type = "text" name = "email" placeholder = "Email" autocomplete="off">
            <input type = "password" name = "password" placeholder = "password" autocomplete="off">
            <button>Submit</button>
        </form>
    </body>
</html>


